<div class="row">
    <div class="col-3">
        <app-search-facet [search]="search" [facets]="facets" (searchEvent)="search($event)"></app-search-facet>
    </div>
    <div class="col-9">
        <div id="gamelist">
            <div class="card" *ngFor="let item of model?.games">
                <div class="card-body">
                    <div class="media">
                        <div class="thumbnail mr-4">
                            <img src="./assets/maps/{{ item.game.map | mapName }}.jpg" width="64" height="64" />
                        </div>
                        <div class="media-body overflow-hidden">
                            <div class="d-flex align-items-center mb-1">
                                <h6 class="text-truncate mb-0 mr-auto" [innerHTML]="item.game.name | q3color:true"></h6>
                                <span class="badge badge-danger" *ngIf="!item.game.isPure">Not Pure</span>
                                <span class="badge badge-success" *ngIf="item.game.isPure">Pure</span>
                                <span class="badge badge-danger" *ngIf="item.game.needPassword">Needs Password</span>
                                <span class="badge badge-danger" *ngIf="item.game.game">Mod {{ item.game.game }}</span>
                                <span class="badge badge-success" *ngIf="item.isFavorite">Favorite</span>
                            </div>
                            <div class="text-truncate">{{ item.game.map }}, {{ item.game.humanPlayers }} human,
                                {{ item.game.clients - item.game.humanPlayers }} bots, max {{ item.game.maxClients }}</div>
                        </div>
                    </div>
                    <div class="dropdown card-options">
                        <button class="btn-options" type="button" data-toggle="dropdown" aria-haspopup="true"
                            aria-expanded="false">
                            <svg class="bi bi-three-dots-vertical" width="1em" height="1em" viewBox="0 0 16 16"
                                fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                                <path fill-rule="evenodd"
                                    d="M9.5 13a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0zm0-5a1.5 1.5 0 11-3 0 1.5 1.5 0 013 0z"
                                    clip-rule="evenodd" />
                            </svg>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" [routerLink]="" *ngIf="!item.isFavorite" (click)="addFavorite(item.game)">Add to Favorites</a>
                            <a class="dropdown-item" [routerLink]="" *ngIf="item.isFavorite" (click)="removeFavorite(item.game)">Remove from Favorites</a>
                        </div>
                    </div>
                </div>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" [ngStyle]="{'width': item.occupancy + '%'}">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>